.font20 {
  font-size: 20px !important;
}
.font16 {
  font-size: 16px !important;
}
.textCenter {
  text-align: center;
}
.lh-70 {
  line-height: 70px !important;
}
.word-underline {
  text-decoration: underline;
  text-decoration-color: #f69309;
  text-decoration-thickness: 7px;
  text-underline-offset: 10px;
}
.display-block {
  display: block;
}